/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
/node_modules/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
.vscode
.idea
/.idea/*
.env
.htaccess
/public/.htaccess
/storage
/.env
